doctype html
html
  head
    title About - ZIJIAN ZHANG
    link(rel="stylesheet", href="./css/style.css")
    script(src="./js/typing.js")
  body(class="mac-terminal")
    .terminal-window
      .terminal-bar
        .terminal-buttons
          span.red
          span.yellow
          span.green
        span.terminal-title Terminal - About Me
      .terminal-content
        .line
          span.label-system System
          span.typing(data-text="cd /About")
        .line
          span.label-system System
          span.typing(data-text="Hello, let me introduce myself.")
        .line
          span.label-time 09:00:00
          span.label-key Name:
          span.typing(data-text="ZIJIAN ZHANG")
        .line
          span.label-time 09:00:01
          span.label-key Sex:
          span.typing(data-text="Male")
        .line
          span.label-time 09:00:02
          span.label-key Age:
          span.typing(data-text="25")
        .line
          span.label-time 09:00:03
          span.label-key Email:
          span.typing(data-text="zhangzijiandavid@outlook.com")
        .line
          span.label-time 09:00:04
          span.label-key University:
          span.typing(data-text="RWTH Aachen")
        .line
          span.label-time 09:00:05
          span.label-key Major:
          span.typing(data-text="Computer Engineering")
        .line
          span.label-done Done
          span.typing(data-text="Thanks for visiting!")
