doctype html
html
  head
    title About - ZIJIAN ZHANG
    link(rel="stylesheet", href="./css/style.css")
    script(src="./js/typing.js")
  body(class="mac-terminal")
    .terminal-window
      .terminal-bar
        .terminal-buttons
          span.red
          span.yellow
          span.green
        span.terminal-title Terminal - About Me
      .terminal-content
        .line
          span.typing
            span.label-system System
            |  cd /About
        .line
          span.typing
            span.label-system System
            |  Hello, let me introduce myself.
        .line
          span.typing
            span.label-time 09:00:00
            span.label-key Name:
            |  ZIJIAN ZHANG
        .line
          span.typing
            span.label-time 09:00:01
            span.label-key Sex:
            |  Male
        .line
          span.typing
            span.label-time 09:00:02
            span.label-key Age:
            |  25
        .line
          span.typing
            span.label-time 09:00:03
            span.label-key Email:
            |  zhangzijiandavid@outlook.com
        .line
          span.typing
            span.label-time 09:00:04
            span.label-key University:
            |  RWTH Aachen
        .line
          span.typing
            span.label-time 09:00:05
            span.label-key Major:
            |  Computer Engineering
        .line
          span.typing
            span.label-done Done
            |  Thanks for visiting!
